* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #212529;
}
p {
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
}
.wrapper {
  width: 1567px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* header */
.navBar {
  width: 300px;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 80px;
  text-align: right;
  background-color: #ffffff4d;
  opacity: 0;
  display: none;
}
.navBar ul {
  list-style: none;
}
.navBar a {
  font-size: 19px;
  font-weight: bold;
  color: black;
  line-height: 53px;
}
.navBar a:hover {
  color: #1eddfb;
}
header {
  overflow: hidden;
  position: relative;
  background: linear-gradient(
      269.51deg,
      #eaf0ee 13.54%,
      rgba(255, 255, 255, 0) 24.64%
    ),
    linear-gradient(
      90deg,
      rgba(234, 240, 238, 0.95) 9.42%,
      rgba(243, 246, 245, 0.6) 39.36%,
      rgba(255, 255, 255, 0) 56.77%
    );
  opacity: 0.95;
}
header > svg:first-of-type {
  position: absolute;
  z-index: 1;
}
header .wrapper > svg {
  position: absolute;
  right: -22.96%;
  bottom: 0.04%;
}
.menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  position: absolute;
  right: 0px;
  z-index: 1;
}
.telephone {
  display: flex;
  justify-content: space-between;
  width: 347px;
  height: 60px;
  background: linear-gradient(180deg, #27214a 0%, rgba(118, 110, 162, 0) 100%),
    #27214a;
  box-shadow: 0px 0px 15px rgba(72, 72, 76, 0.25);
  border-radius: 10px;
  padding: 14px 30px;
}
.telephone a > p {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #ffffff;
}
.menubar {
  width: 60px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  padding: 13px 14px 14px 13px;
}
.menubar:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.25);
}
#cls {
  font-size: 33px;
  color: red;
  display: none;
}
#slider_1 h1,
#slider_2 > p:first-child,
#slider_3 > p:first-child,
#slider_4 > p:first-child,
#slider_5 > p:first-child,
#slider_6 > p:first-child {
  margin-top: 260px;
  width: 735px;
  height: 121px;
  font-weight: bold;
  font-size: 52px;
  line-height: 62px;
  color: #212529;
  margin-bottom: 25px;
}
#slider_1 {
  background: linear-gradient(
      269.51deg,
      #eaf0ee 0.54%,
      rgba(255, 255, 255, 0) 24.64%
    ),
    linear-gradient(
      90deg,
      rgba(234, 240, 238, 0.95) 9.42%,
      rgba(243, 246, 245, 0.6) 39.36%,
      rgba(255, 255, 255, 0) 56.77%
    ),
    url(../img/main_image_1.1.jpg) no-repeat;
  opacity: 0.95;
  background-size: cover;
}
#slider_2 {
  background: linear-gradient(
      269.51deg,
      #eaf0ee 0.54%,
      rgba(255, 255, 255, 0) 24.64%
    ),
    linear-gradient(
      90deg,
      rgba(234, 240, 238, 0.95) 9.42%,
      rgba(243, 246, 245, 0.6) 39.36%,
      rgba(255, 255, 255, 0) 56.77%
    ),
    url(../img/block_2.jpg) no-repeat;
  opacity: 0.95;
  background-size: cover;
}
#slider_3 {
  background: linear-gradient(
      269.51deg,
      #eaf0ee 0.54%,
      rgba(255, 255, 255, 0) 24.64%
    ),
    linear-gradient(
      90deg,
      rgba(234, 240, 238, 0.95) 9.42%,
      rgba(243, 246, 245, 0.6) 39.36%,
      rgba(255, 255, 255, 0) 56.77%
    ),
    url(../img/block_3.png) no-repeat;
  opacity: 0.95;
  background-size: cover;
}
#slider_4 {
  background: linear-gradient(
      269.51deg,
      #eaf0ee 0.54%,
      rgba(255, 255, 255, 0) 24.64%
    ),
    linear-gradient(
      90deg,
      rgba(234, 240, 238, 0.95) 9.42%,
      rgba(243, 246, 245, 0.6) 39.36%,
      rgba(255, 255, 255, 0) 56.77%
    ),
    url(../img/block_4.jpg) no-repeat;
  opacity: 0.95;
  background-size: cover;
}
#slider_5 {
  background: linear-gradient(
      269.51deg,
      #eaf0ee 0.54%,
      rgba(255, 255, 255, 0) 24.64%
    ),
    linear-gradient(
      90deg,
      rgba(234, 240, 238, 0.95) 9.42%,
      rgba(243, 246, 245, 0.6) 39.36%,
      rgba(255, 255, 255, 0) 56.77%
    ),
    url(../img/block_5.jpg) no-repeat;
  opacity: 0.95;
  background-size: cover;
}
#slider_6 {
  background: linear-gradient(
      269.51deg,
      #eaf0ee 0.54%,
      rgba(255, 255, 255, 0) 24.64%
    ),
    linear-gradient(
      90deg,
      rgba(234, 240, 238, 0.95) 9.42%,
      rgba(243, 246, 245, 0.6) 39.36%,
      rgba(255, 255, 255, 0) 56.77%
    ),
    url(../img/block_6.jpg) no-repeat;
  opacity: 0.95;
  background-size: cover;
}
.slider {
  height: 800px;
}
.content .slider > p {
  width: 671px;
  height: 47px;
  color: #454547;
  margin-bottom: 40px;
}
#left,
#right {
  width: 45px;
  height: 45px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 11px;
  top: 616px;
}
#right {
  left: 61px;
}

.content .slider .detailed {
  width: 223px;
  height: 45px;
  background: linear-gradient(180deg, #27214a 0%, rgba(118, 110, 162, 0) 100%),
    #27214a;
  box-shadow: 0px 4px 4px rgba(72, 72, 76, 0.25);
  border-radius: 10px;
  padding: 11px 54px 11px 64px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: block;
  margin-bottom: 86px;
  margin-left: 30px;
}
.content .slider .detailed:hover {
  box-shadow: 0px 6px 4px rgba(72, 72, 76, 0.55);
  color: #1eddfb;
}

/* about */
.about .wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}
.about .about_img {
  width: 671px;
  height: 522px;
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 8.24%),
    linear-gradient(270deg, #ffffff 2.16%, rgba(255, 255, 255, 0) 9.24%),
    linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 7%),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 6.32%),
    url(../img/about_image.jpg) no-repeat;
  background-size: cover;
}
.about .about_img p {
  visibility: hidden;
}
.about .about_content {
  width: 805px;
}
.about .about_content h2,
.about .about_content p:first-of-type {
  margin-bottom: 30px;
}
.about .about_content p {
  font-size: 18px;
  line-height: 28px;
  color: #434040;
}
.about .about_content p:last-of-type {
  display: flex;
  margin-top: 87px;
}
.about .about_content p:last-of-type span {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 27px;
  color: #454547;
  display: block;
  width: 77px;
  margin-right: 10px;
}

/* our_service */
.our_service .wrapper {
  padding-top: 120px;
}
.our_service h2 {
  margin-bottom: 60px;
}
.our_service .row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 30px 0;
}
.our_service .row:first-of-type,
.our_service .row:last-of-type {
  margin: 0;
}
.our_service .row .block {
  height: 321px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.our_service .row .block p {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 36px;
  color: #ffffff;
}
.our_service .row:nth-of-type(1) .block,
.our_service .row:nth-of-type(3) .block {
  width: 775px;
}
.our_service .row:nth-of-type(1) .block p,
.our_service .row:nth-of-type(3) .block p {
  width: 354px;
}
.our_service .row:nth-of-type(2) .block {
  width: 507px;
}
.our_service .row:nth-of-type(2) .block p {
  width: 268px;
}
.our_service .row:nth-of-type(1) .block div,
.our_service .row:nth-of-type(3) .block div {
  width: 321px;
}
.our_service .row:nth-of-type(2) .block div {
  width: 152px;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(1) {
  background: linear-gradient(180deg, #27214a 0%, rgba(118, 110, 162, 0) 100%),
    #27214a;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  border-radius: 10px;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(1) p {
  margin: 125px auto;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(1) > div {
  background-color: white;

  position: relative;
  overflow: hidden;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(1) > div img {
  position: absolute;
  opacity: 0.8;
  top: -75px;
  left: -187px;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(2) p {
  margin: 50px auto;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(2) > div {
  background-color: white;

  position: relative;
  overflow: hidden;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(2) > div img {
  width: 600px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: -175px;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(2) {
  background: linear-gradient(180deg, #225238 0%, rgba(61, 140, 98, 0) 100%),
    #225238;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  border-radius: 10px;
}
.our_service .row:nth-of-type(1) .block:nth-of-type(2) svg {
  position: absolute;
  left: 87px;
  top: 106px;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(1) {
  background: linear-gradient(180deg, #467992 0%, rgba(255, 255, 255, 0) 100%),
    #467992;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  border-radius: 10px;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(1) svg {
  position: absolute;
  right: 29px;
  top: 151px;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(1) p {
  margin: 50px auto;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(1) > div {
  background-color: white;
  position: relative;
  overflow: hidden;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(1) > div img {
  width: 520px;
  position: absolute;
  opacity: 0.8;
  top: -16px;
  left: -302px;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(2) {
  background: linear-gradient(180deg, #a67b49 0%, rgba(233, 195, 152, 0) 100%),
    #a67b49;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  border-radius: 10px;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(2) p {
  margin: 89px auto;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(2) > div {
  background-color: white;
  position: relative;
  overflow: hidden;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(2) > div img {
  width: 450px;
  position: absolute;
  opacity: 0.8;
  top: -6px;
  left: 0;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(3) {
  background: linear-gradient(180deg, #462027 0%, rgba(153, 89, 100, 0) 100%),
    #462027;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  border-radius: 10px;
  flex-direction: column;
  justify-content: normal;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(3) p {
  margin: 48px 0 0 50px;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(3) > div {
  background-color: white;
  width: 100%;
  height: 152px;
  position: relative;
  overflow: hidden;
}
.our_service .row:nth-of-type(2) .block:nth-of-type(3) > div img {
  width: 507px;
  position: absolute;
  opacity: 0.8;
  top: -39px;
  left: 0;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(1) {
  background: #1d3a3a;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  border-radius: 10px;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(1) p {
  margin: 109px auto;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(1) > div {
  background-color: white;

  position: relative;
  overflow: hidden;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(1) > div img {
  width: 662px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: -44px;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(2) {
  background: linear-gradient(180deg, #617781 0%, rgba(255, 255, 255, 0) 100%),
    #617781;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  border-radius: 10px;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(2) p {
  margin: 50px auto;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(2) > div {
  background-color: white;

  position: relative;
  overflow: hidden;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(2) > div img {
  width: 775px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: -230px;
}
.our_service .row:nth-of-type(3) .block:nth-of-type(2) svg {
  position: absolute;
  right: 7px;
  top: 103px;
}

/* advantage */
.advantage .wrapper {
  padding: 120px 0 120px;
}
.advantage .wrapper h2 {
  margin-bottom: 60px;
  text-align: center;
}
.advantage .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantage .wrap .block {
  width: 770px;
  height: 181px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.7);
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.advantage .wrap .block svg:first-of-type {
  margin: 41px 33px 0 41px;
}
.advantage .wrap .block svg:last-of-type {
  margin-top: 51px;
  margin-right: 50px;
}
.advantage .wrap .block p {
  width: 508px;
  margin-top: 50px;
  margin-right: 28px;
  font-size: 25px;
}

/* contacts */
.contacts {
  position: relative;
  padding: 80px 0;
  background: linear-gradient(180deg, #27214a 0%, rgba(118, 110, 162, 0) 100%),
    #27214a;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
}
.contacts svg {
  position: absolute;
  right: 0;
  top: 56px;
}
.contacts .wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts .address {
  width: 731px;
  height: 418px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 80px 69px;
}
.contacts .address h2 {
  margin-bottom: 30px;
}
.contacts .address p {
  font-style: normal;
  font-size: 24px;
  line-height: 28.8px;
  color: #434040;
}
.contacts .address span {
  font-weight: bold;
  font-family: "Exo 2";
  line-height: 30.77px;
}
.contacts .address p:nth-of-type(2) {
  margin: 11px 0 9px;
}
.contacts .feedback {
  width: 707px;
}
.contacts .feedback p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 16px;
}
.contacts .feedback > p {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 14px;
}
.contacts .feedback input {
  display: block;
  width: 456px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffff;
  background-color: #27214a;
  height: 50px;
  margin-bottom: 22px;
}
.contacts .feedback input:last-of-type {
  margin-bottom: 26px;
}
.contacts .feedback textarea {
  width: 457px;
  height: 92px;
  color: #ffffff;
  border: none;
  background-color: #27214a;
  border: 0.5px solid #ffffff;
  border-radius: 3px;
  margin-bottom: 40px;
}
.contacts .feedback button {
  display: block;
  padding: 10px 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #434040;
  border: none;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

/* map */
.map {
  height: 386px;
}

/*footer */
footer {
  height: 386px;
  background: linear-gradient(180deg, #49484c 0%, rgba(127, 125, 131, 0) 100%),
    #49484c;
  position: relative;
}
footer .wrapper {
  padding-top: 60px;
}
footer .wrap {
  display: flex;
  justify-content: space-between;
}
footer h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 30px;
}
footer ul {
  display: block;
  list-style-type: none;
}
footer ul li {
  margin-bottom: 18px;
}
footer ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
footer ul li a:hover {
  color: #1eddfb;
}
footer .social_link {
  display: flex;
  justify-content: space-between;
  width: 268px;
  height: 47px;
  margin-top: 105px;
}
footer .social_link a {
  width: 47px;
  height: 47px;
  display: block;
  overflow: hidden;
}
footer .social_link a:hover {
  border-radius: 50%;
}
.getUp svg {
  position: fixed;
  right: 59px;
  bottom: 63px;
  background: #626161;
  cursor: pointer;
}
